---
layout: layouts/base.njk
eleventyNavigation:
  key: Work
  order: 3
---

<h1>Featured Work</h1>
{% set postslist = collections.featuredWork %}
{% include "projectlist.njk" %}
<a href="/work">Work archive →</a>