---
layout: layouts/base.njk
---

<article class="post flow">
    <h1>{{ title }}</h1>
    <ul class="post-metadata">
        <li>
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
        </li>
        {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
                <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
                {%- if not loop.last %},
                {% endif %}
            </li>
        {%- endfor %}
    </ul>
    {{ content | safe }}
    {%- if collections.posts %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem %}
        {%- set nextPost = collections.posts | getNextCollectionItem %}
        {%- if nextPost or previousPost %}
            {% include "../previousnext.njk" %}
        {%- endif %}
    {%- endif %}
</article>